.toast{
    display: none;
    position:absolute;
    z-index: 999;
    left:0px;
    top: 0px;
    width:180px;
    height:200px;>
}
.echart{
    display: none;
    position:absolute;
    z-index: 999;
    left:0px;
    top: 0px;
    width:300px;
    height:300px;>
}